language: python
matrix:
  include:
    # Python 2.7
    - python: 2.7
      env: TOXENV=py27-django18
    - python: 2.7
      env: TOXENV=py27-django19
    - python: 2.7
      env: TOXENV=py27-django110
    - python: 2.7
      env: TOXENV=py27-django111
    # Python 3.5
    - python: 3.5
      env: TOXENV=py35-django18
    - python: 3.5
      env: TOXENV=py35-django19
    - python: 3.5
      env: TOXENV=py35-django110
    - python: 3.5
      env: TOXENV=py35-django111
    # Python 3.7
    - python: 3.7
      env: TOXENV=py37-django2
    - python: 3.7
      env: TOXENV=py37-django3
    # Python 3.8
    - python: 3.8
      env: TOXENV=py38-django2
    - python: 3.8
      env: TOXENV=py38-django3
    - python: 3.8
      env: TOXENV=py38-django4
    - python: 3.8
      env: TOXENV=flake8
install:
- pip install tox
script:
- tox
